@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


:root{
    --cor-destaque:pink;
    
}

:root{
    --tamanho-da-fonte:20px;
}

h2{
    font-size: var(--tamanho-da-fonte);
    color: var(--cor-destaque);
}

h4{
    font-size: var(--tamanho-da-fonte);
    color: var(--cor-destaque);
}

*{
    font-family: 'Raleway', sans-serif;
    
}

#diva_px{
    width: 300px;
    background-color: orange;
    height: 300px;
}

#diva_cm{
    width: 300cm;
    background-color: greenyellow;
    height: 300cm;
}
#diva_mp{
    width: 300mp;
    background-color: blue;
    height: 300mp;
}
#diva_in{
    width: 300in;
    background-color: red;
    height: 300in;
}

#divo_porc{
    width: 25%;
    background-color: rgb(174, 5, 203);
    height: 100px;
}

#divo_em{
    width: 25%;
    background-color: rgb(17, 212, 250);
    height: 100px;
    font-size: 2.0em;
}

#divo_rem{
    width: 25%;
    background-color: rgb(67, 5, 5);
    height: 100px;
    font-size: 5.0rem;
}

#divo_vh{
    width: 100px;
    height: 25vh;
    background-color: darkslategrey;
}

#divo_vw{
    width: 25vw;
    height: 100px;
    background-color: chocolate;

}
#MeuID{
    background-color: lightgoldenrodyellow;
    height: 100px;
    width: 300px;
    border: 10px solid;
    font-size: 29px;

    

}
.MinhaClasse{
    background-color: grey;
    height: 300px;
    width: 300px;
    border: 10px solid;
    font-size: 29px;
}

div{
    background-color: white;
    height: 100px;
    width: 300px;
    border: 10px solid;
    font-weight: bold;
    font-size: 32px
}
p.div3{
    color: crimson;
}
div>p{
    color: rgb(0, 0, 0);
    
}
.MinhaClasse .div3{
    color: crimson;
    font-size: 32px;
}

#mt{
    margin-top: 50px;
}

#mb{
    margin-bottom: 25px;

}
#ml{
    margin-left: 0px;
}
#mr{
    margin-right: 100px;
}
#m-all{
    margin: 100px, 50px, 100px, 50px;
}
#pt{
    padding-top: 50px;
}

#pb{
    padding-bottom: 25px;

}
#pl{
    padding-left: 0px;
}
#pr{
    padding-right: 100px;
}
#p-all{
    padding: 100px, 50px, 100px, 50px;
}

.block-element{
    display: block;
}
.inline-element{
    display: inline;

}
.inline-block-element{
    display: inline-block;
}
.none-element{
    display: none;
}

.static-box{
    position: static;
    background-color: aquamarine;
    width: 300px;
    height: 150px;
    border: 1px solid;

}

.relative-box{
    position: relative;
    background-color: rgb(8, 133, 91);
    width: 300px;
    height: 150px;
    border: 1px solid;
    top: 10px;
    left: 150px;
}
.fixed-box{
    position:fixed;
    background-color: rgb(5, 70, 48);
    width: 300px;
    height: 150px;
    border: 1px solid;
    top: 200px;
    left: 100px;
}

.parent{
    position: relative;
}

.absolute-box1{
    position: absolute;
    width: 300px;
    height: 100px;
    border: 1px solid;
    top: 10px;
    background-color: aqua;
}
.f-h-start{
    display: flex;
    justify-content: start;
    height: 100px;
    width: 25vw;
    background-color: blue;
    margin-top: 10px;

}
.f-h-center{
    display: flex;
    justify-content: center;
    height: 100px;
    background-color: blue;
    margin-top: 10px;
    width: 25vw;
}
.f-h-end{
    display: flex;
    justify-content: end;
    height: 100px;
    background-color: blue;
    margin-top: 10px;
    width: 25vw;
}
.f-h-arround{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: blue;
    margin-top: 10px;
    width: 25vw;
}
.f-h-between{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: blue;
    margin-top: 10px;
    width: 25vw;
}
span{
    background-color: antiquewhite;
    font-size: 18px;
    height: 30px;
    width: 90px;
    border-radius: 5px;
    margin-top: 1px;
}
.f-v-start{
    display: flex;
    height: 100px;
    background-color: blue;
    margin-top: 10px;
    width: 25vw;
    align-items: start;
}
.f-v-center{
    display: flex;
    height: 100px;
    background-color: blue;
    margin-top: 10px;
    width: 25vw;
    align-items: center;
}
.f-v-end{
    display: flex;
    height: 100px;
    background-color: blue;
    margin-top: 10px;
    width: 25vw;
    align-items: end;
}
.f-v-stretch{
    display: flex;
    height: 100px;
    background-color: blue;
    margin-top: 10px;
    width: 25vw;
    align-items: stretch;
}

.f-h-start-col{
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: 125px;
    background-color: blue;
    margin-top: 10px;
    width: 25vw;
 
}
.f-h-end-col{
    display: flex;
    justify-content: end;
    flex-direction: column;
    height: 125px;
    background-color: blue;
    margin-top: 10px;
    width: 25vw;
 
}
.f-h-center-col{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 125px;
    background-color: blue;
    margin-top: 10px;
    width: 25vw;
 
}

